<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/app.min.css">

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-152x152.png">

    <!-- RSS -->

    {{ghost_head}}

  </head>
  <body class="{{body_class}}">
    {{{body}}}
  </body>
</html>
