{{!< default}}
{{> header}}

<div class='o-container'>
  <section class='o-row' role='main'>
    {{#post}}
    <article class='o-col c-post' role='article' itemscope itemtype='http://schema.org/Article'>
      
      <header class='tac'>
        <time datetime='{{date format='YYYY-MM-DD'}}' itemprop='datePublished' class='c-post-datetime upper gray700'>{{date format='DD MMMM, YYYY'}}</time>
        <h1 class='c-title mt4 mb4' itemprop='headline'>{{title}}</h1>
        <div class='c-post-image'>
          <img src='{{image}}'>
        </div>
      </header>
      
      {{content}}
    </article>
    {{/post}}
    {{#if pagination}}{{{pagination}}}{{/if}}
  </section>
</div>

{{> footer}}
